.main-page {
    height: 100vh;
    background-color: #FFFFFF;
}

.container-box-header-page {
    height: 90px;
    padding-top: 23px;
    padding-left: 32px;
    padding-right: 32px;
    border-bottom: 1px solid #D1D1D1;
    width: 100%;
}

.title-page {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.date-time-page {
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
}

.dashboard-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.container-main-content-globalsearch {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    width: 50%;
}

.card-content-globalsearch{
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-container2 {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.card-content-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-content-text-sm-black {
    font-size: 18px;
    font-weight: 700;
}

.card-content-text-sm-black2 {
    font-size: 22px;
    font-weight: 700;
}

.card-content-text-sm-grey {
    font-size: 16px;
    font-weight: 500;
    color: #727272;
}

.card-content-text-lg-black {
    font-size: 42px;
    font-weight: 700;
}

.text-sm-grey {
    font-size: 16px;
    font-weight: 500;
    color: #727272;
}

.text-sm-black {
    font-size: 16px;
    font-weight: 700;
}

.text-sm-black2 {
    font-size: 24px;
    font-weight: 700;
}

.container-content-table {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;   
}

.container-content-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.container-table {
    margin-top: 32px;
    border: 1px solid #B6B6B6;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
}

.container-table2 {
    background-color: white;
    padding-top: 20px;
}

.table-content {
    width: 100%;
}

.table-content-tr {
    border-bottom: 1px solid #D1D1D1;
    text-align: center;
}

.table-content-td-header {
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
    padding-top: 5px;
}

.table-content-td {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #1C1C1C;
}

.purple-spinner {
  border-color: #6A1B9A;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.purple-spinner::after {
  border-color: #6A1B9A;
  border-right-color: transparent;
  border-bottom-color: transparent;
}