.button {
    text-align: left;
    border-color: purple;
    background-color: white;
    color: purple;
    font-size: 17px;
    text-transform: none;
    padding: 25px;
}

.button:hover {
    background-color: purple;
    color: white;
    transition: 0.7s;
}

.button:focus {
    background-color: purple;
    color: white;
}

.button:active {
    background-color: purple;
    color: white;
}

.card {
    border-radius: 10px !important;
    border-color: purple !important;
}

@media only screen and (max-width: 301px){
    .txtHeaderFaq1 {
        font-size:24px;
        margin:0;
        font-weight: bold;
    }
    .txtHeaderFaq2 {
        font-size:24px;
        margin:0;
    }
    .divHeaderFaq{
        display: flex;
        flex-direction: row;
        color:#61308C;
        text-align: 'center';
        margin: 0 auto;
        position: absolute;
        left:13%;
        top:85%;
    }
    .imgFaqXs{
        height: 650px;
    }
    .imgFaqLg{
        display: none;
    }
    .imgFaqMd{
        display: none;
    }
}

@media only screen and (min-width: 301px) and (max-width: 500px) {
    .txtHeaderFaq1 {
        font-size:24px;
        margin:0;
        font-weight: bold;
    }
    .txtHeaderFaq2 {
        font-size:24px;
        margin:0;
    }
    .divHeaderFaq{
        display: flex;
        flex-direction: row;
        color:#61308C;
        text-align: 'center';
        margin: 0 auto;
        position: absolute;
        left:13%;
        top:85%;
    }
    .imgFaqLg{
        display: none;
    }
    .imgFaqMd{
        display: none;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
    .txtHeaderFaq1 {
        font-size:30px;
        margin:0;
        font-weight: bold;
    }
    .txtHeaderFaq2 {
        font-size:30px;
        margin:0;
    }
    .divHeaderFaq{
        display: flex;
        flex-direction: row;
        color:#61308C;
        text-align: 'center';
        margin: 0 auto;
        position: absolute;
        left:35%;
        top:85%;
    }
    .imgFaqXs{
        display: none;
    }
    .imgFaqLg{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .txtHeaderFaq1 {
        font-size:35px;
        margin:0;
        font-weight: bold;
    }
    .txtHeaderFaq2 {
        font-size:35px;
        margin:0;
    }
    .divHeaderFaq{
        display: flex;
        flex-direction: row;
        color:#61308C;
        text-align: 'center';
        position: absolute;
        left:35%;
        top:85%;
    }
    .imgFaqLg{
        display: none;
    }
    .imgFaqXs{
        display: none;
    }
}

@media only screen and (min-width: 1201px) {
    .txtHeaderFaq1 {
        font-size:35px;
        margin: 0;
        font-weight: bold;
    }
    .txtHeaderFaq2 {
        font-size:35px;
        margin: 0;
    }
    .divHeaderFaq{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        left:12%;
        color:#61308C;
    }
    .imgFaqMd{
        display: none;
    }
    .imgFaqXs{
        display: none;
    }
}