
.leftMenu{
    width: 250px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.leftMenu .title{
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
}

