.input-wrapper .input{
    font-size: 13px;
    border: 1px solid #D9D9D9;
    padding: 7px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper .label{
    font-size: 14px;
    color: 051070;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 12px;
}