.qty-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #f1f5f9; */
    border-radius: 14px;
    /* padding: 8px; */
}
  
.qty-box button {
    background: #e5e7eb;
    border: none;
    border-radius: 12px;
    padding: 10px 14px;
    font-size: 18px;
    cursor: pointer;
}
  
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.subtotal {
    font-size: 18px;
    color: #059669;
}
  
.btn-primary {
    background-color: #111111;
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary-keranjang {
    background-color: #111111;
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
  
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #e5e7eb;
}
  
.cart-right {
    display: flex;
    align-items: center;
    gap: 12px;
}
  
.price {
    font-weight: 700;
    color: #059669;
}
  
.remove {
    background: #fee2e2;
    color: #dc2626;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.update {
    background: #004675;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
  
.muted {
    color: #64748b;
    font-size: 14px;
}
  
.empty {
    color: #94a3b8;
    text-align: center;
}

.kembalian-box-red {
    background: #fff7ed;
    border: 1px solid #fed7aa;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #c2410c;
    margin-bottom: 16px;
}

.kembalian-box-green {
    background: #fff7ed;
    border: 1px solid #fed7aa;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #059669;
    margin-bottom: 16px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom: 20px;
}
  
.total {
    color: #059669;
    font-size: 22px;
}